*{
    font-family: sans-serif;
}

a{
    color: white;
}

/* header */
.navbar{
    background-color: rgb(44, 62, 80);
    padding: 2rem;
}

.navbar .navbar-brand{
    font-size: 1.7rem;
}


/* main */
.start, .about{
    background-color: rgb(87, 185, 157);
}

img{
    display: block;
}

.fa-star{
    font-size: 1.5rem;
}

.rod{
    width: 10%;
    height: 4px;
    border-radius: 8px;
    margin: 0 auto;
   }

.start .container-sm,
.about .container-sm,
.contact .container-sm,
.footer .container-sm{
    padding: 0 3rem;
}

    /* start */
.start img{
    width: 280px;
}

.start h1{
    font-size: 3rem;
}

    /* porfolio */
.portfolio img{
    border-radius: 10px;
    width: 100%;
}

    /* contact me */
.contact .form-control{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.contact button{
    background-color: rgb(87, 185, 157);
    border: none;
}


/* footer */
.footer{
    background-color: rgb(58, 84, 109);
}

.footer i{
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    padding: 0.7rem;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer .author{
    color: rgb(87, 185, 157);
}

.footer .foot2{
    background-color: rgb(44, 62, 80)
}


/* media query */

/* sm */

@media screen and (max-width: 768px){
    .start h1{
        font-size: 2.3rem;
    }
    
    .start h5{
        font-size: small;
    }
}

@media screen and (min-width: 768px){
    .container-sm{
        max-width: 70%;
    }
}