*{
    font-family: sans-serif;
}

/* header */
.navbar{
    background-color: rgb(44, 62, 80);
    padding: 2rem;
}

.navbar .navbar-brand{
    font-size: 1.7rem;
}

.navbar-toggler-icon{
    color: white !important;
}

/* main */
.start, .about{
    background-color: rgb(87, 185, 157);
}

img{
    display: block;
}

.fa-star{
    font-size: 1.5rem;
}

.rod{
    width: 80px;
    height: 4px;
    border-radius: 8px;
    margin: 0 auto;
   }

.about .container-sm,
.contact .container-sm{
    padding: 0 7rem;
}

    /* start */

.start img{
    width: 280px;
}

.start h1{
    font-size: 3rem;
}

    /* porfolio */
.portfolio img{
    border-radius: 10px;
    width: 100%;
}

    /* contact me */
.contact .form-control{
    border: none;
    border-bottom: 1px solid lightgray;
}

.contact button{
    background-color: rgb(87, 185, 157);
    border: none
}


/* footer */